$kindleBuild: false !default;

@use "_config" with (
    $buildingForWeb: false,
    $buildingForEbook: true,
    $buildingForKindle: $kindleBuild
);

@use "_defaults";
@use "fonts";
@use "themes";
@use "images";
@use "typography";

body {
  margin: 5%;

  text-align: justify;
}

blockquote {
  text-align: left;

  .quote-attribution {
    display: block;

    text-align: right;
  }
}

code {
  padding: 0 defaults.$padding-half;
  font-size: defaults.$font-size-small;
}

pre {
  padding: defaults.$padding-base;
  font-size: defaults.$font-size-small;
  line-height: 1.1;
  @if not config.$buildingForKindle {
    overflow-x: auto;
  }

  code {
    padding: 0;
    background: none;
  }
}

h2, h3, h4, h5, h6 {
  text-align: left;
}

h1 {
  @if config.$buildingForKindle {
    margin: 60% 0 0 0;
  }
  @else {
    margin: 50vh 0 0 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

  text-align: right;
  font-size: defaults.$font-size-xx-large;
}

h3, h4, h5, h6 {
  margin-top: 3em;
}

a[role~='doc-noteref'] {
  vertical-align: super;
  line-height: normal;
  font-size: smaller;
}

nav#toc ol li,
nav#landmarks ol li {
  list-style-type: none;
}
