<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ sitedata.description }}">
<title>{{ sitedata.title }}{% if title %} | {{ title }}{%endif%}</title>
<link rel="license" href="{{ sitedata.licenseLegalUrl }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<meta property="og:title" content="{{ sitedata.title }}{% if title %} | {{ title }}{% endif %}">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ sitedata.fullBaseUrl }}{{ page.url }}">
<meta property="og:description" content="{{ sitedata.description }}">
<meta property="og:image" content="{{ sitedata.fullBaseUrl }}{{ "/img/social-fb.jpg" | url }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="626">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ sitedata.title }}{% if title %} | {{ title }}{% endif %}">
<meta name="twitter:image" content="{{ sitedata.fullBaseUrl }}{{ "/img/social-tw.jpg" | url }}">
<meta name="twitter:description" content="{{ sitedata.description }}">

<link rel="stylesheet" href="/css/srhc.css" />

<meta name="generator" content="{{ eleventy.generator }}" />

