<div id="themeSelectorGUI">
    <div class="lozenge">
        <div class="theme-lightImg">
            {% inlineFile "static/img/theme-light.svg" %}
        </div>
        <div class="theme-systemImg">
            {% inlineFile "static/img/theme-system.svg" %}
        </div>
        <div class="theme-darkImg">
            {% inlineFile "static/img/theme-dark.svg" %}
        </div>
    </div>
</div>
