{% extends "base.njk" %}

{% block main %}
    <article>
        {% if sitedata.title %}
            <header>
                <h1>{{ sitedata.title }}</h1>
                {% if (sitedata.authorName) and (sitedata.authorUrl) %}
                by <a href="{{ sitedata.authorUrl }}" rel="author">{{sitedata.authorName}}</a>
                {% elif sitedata.authorName %}
                by {{sitedata.authorName}}
                {% endif %}
            </header>
        {% endif %}
        {{ content | safe }}
    </article>
{% endblock %}
