{% extends "base.njk" %}


{% block mainHeader %}
    {% if not no_nav %}
        {% include "_pageNav.njk" %}
    {%endif %}
{% endblock %}

{% block main %}
    <article>
        {% if title %}
            <header>
                <h1>{{ title }}</h1>
            </header>
        {% endif %}

        {{ content | safe }}
    </article>
{% endblock %}

{% block mainFooter %}
    {% if not no_nav %}
        {% include "_pageNav.njk" %}
    {%endif %}
{% endblock %}

{% block end_of_body %}
<script>
    const myEntry = document.querySelector("nav.tableOfContents .menuList li.currentPage");
    if (myEntry) {
        const parent = myEntry.offsetParent;
        const parentBounding = parent.getBoundingClientRect();
        const clientBounding = myEntry.getBoundingClientRect();
        parent.scrollTo({
            behavior: "instant",
            top: clientBounding.bottom - parentBounding.bottom + (parentBounding.height / 2)
        });
    }
</script>
{% endblock %}
