---
no_nav: true
layout: false
permalink: /full/{{sitedata.title | slugify}}.md
---
# {{ sitedata.title }}
by [{{sitedata.authorName}}]({{sitedata.authorUrl}})

![_{{sitedata.title}}_ cover image]({{sitedata.url}}/img/cover.svg){.cover}

----

## License Information

{% renderFile "resources/licensing/licensing_page.md", {fullPageRender: true} %}
----
{% set nav = collections.all | navFilter | eleventyNavigation | flattenNav -%}
{%- for navPage in nav -%}
{%- set currentPage = collections.all | getRealPage(navPage.url) -%}
{%- if not navPage.parent %}


## {{ currentPage.data.title -}}
{% else %}

### {{ currentPage.data.title }}

{% endif %}
{%- set fullSlug %}{{ currentPage.url | slugify }}{% endset -%}
{% renderFile currentPage.inputPath, {fullPageRender: true, fnId: fullSlug} -%}
{%- endfor -%}

