---
title: {{sitedata.title}}
lang: {{sitedata.lang}}
creator:
- role: author
  text: {{sitedata.authorName}}
rights: © {{sitedata.copyrightYear}} {{sitedata.authorName}}, {{sitedata.licenseId}}
identifier:
- scheme: URN
  text: {{sitedata.urn}}
ibooks:
  version: 0.0.1
  specified-fonts: true
---
