<div id="themeSelectorGUI">
	<div class="lozenge">
		<div class="theme-lightImg">
			<img src="/img/theme-light.svg" inline />
		</div>
		<div class="theme-systemImg">
			<img src="/img/theme-system.svg" inline />
		</div>
		<div class="theme-darkImg">
			<img src="/img/theme-dark.svg" inline />
		</div>
	</div>
</div>
